{% extends '@admin/layout.twig' %}

{% block title "Enregistrer une categorie" %}

{% block body %}

<form action="{{ path(routePrefix ~ '.create') }}" method="post">
    
    {% include viewPath ~ '/form.twig' %}
    
    <button class="btn btn-primary" type="submit">Ajouter</button>
</form>
{% endblock %}